<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Seu App de Fidelidade.</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/carimbai.png" alt="Carimbaí">
		</div>
	</div>

	<div class="container">
		<div class="acesso-links">
			<p class="sites">Acesse agora nossas páginas e baixe o app!</p>
			<div class="acesso-links path">
				<h1>Acesse:</h1>
				<a href="https://www.carimbai.com.br/" class="page-links links">
					<h2>Landing Page</h2>
				</a><!--
				--><a href="https://www.facebook.com/carimbai/" class="page-links links">
					<h2>Facebook</h2>
				</a>
			</div>		
		</div>
	</div>

</body>

</html>
